<!DOCTYPE html>
<html lang="es">

<head>
    <title>Pet Society</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d3a79ab94e.js" crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body class="home">

    <header id="header">
        <div class="header-principal">
            <button id="menu-toggle" class="burger-menu">
                <i class="fas fa-bars"></i>
                <div id="menu" class="menu-open"></div>
            </button>


            <div class="iconos">





            </div>
        </div>


        <div id="categorias" class="categorias">



            <a href="/"><img class="logo" src="/img/logo.png" alt=""></a>
            <nav>

                <ul>


                    <li><a href="../index.html">Atras</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        
        <!--Productos-->
        <section class="protago">
            <!--Tarjetas 1-->
            <article >
               <div><img src="../img/ted.jpeg" alt="foto"></div> 
                <div class="tarjeta">
                    
                   
                        <h4>Ted</h4>

                        <p><b>Theodore Evelyn "Ted" Mosby</b> (nacido el 25 de abril de 1978) es uno de los cinco personaje principales de How I Met Your Mother, interpretado por Josh Radnor. En 2030, Ted se sentó a contar a sus hijos la historia de cómo conoció a la madre de ellos.
                            A partir de 2005, a través de de su viaje se conoce que ha tenido muchas relaciones fallidas. Pero el arquitecto que se convirtió en profesor no va a renunciar a la búsqueda de la mujer perfecta. Ella esta ahí fuera, y cada episodio de la vida de Ted le lleva a un paso más cerca de conocerla.</p>
                    
                </div>
                
            </article>
        </section>
    </main>
    <!--Footer -->

    <footer class="footer">
        <!--contenedor -->
        <div class="container">

            <!--info pagina-->

            <div class="row">



                <div class="footer-col">
                    <h4>Contacto</h4>
                    <ul>
                        <li>
                            <p>jesicaguerrerof@gmail.com</p>
                        </li>

                        <li>
                            <p>Atención por Whatsapp</p>
                        </li>
                        <li>
                            <p>lunes a sabados de 10 a 20hs</p>
                        </li>
                    </ul>
                </div>
                <!--ubicación-->
                <div class="footer-col">
                    <h4>Ubicación</h4>
                    <p><iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.5952924237013!2d-58.41934318505277!3d-34.58910556423149!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca80751d1ac9%3A0x56e2cf21e3cfff71!2sGral.%20Lucio%20Norberto%20Mansilla%203817%2C%20C1425BQA%20CABA!5e0!3m2!1ses-419!2sar!4v1671080408294!5m2!1ses-419!2sar"
                            width="200" height="150" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe></p>
                </div>
                <!--Redes -->

                <div class="footer-col">
                    <h4>Seguinos en:</h4>
                    <div class="social-links">
                        <a href="https://www.twitter.com/efronisflawless/"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/jesizf/?hl=en"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.facebook.com/loststars94/"><i class="fab fa-facebook"></i></a>

                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>© How I met your mother</p>
        </div>
    </footer>
    <a href="https://api.whatsapp.com/send?phone=5491121558721" class="btn-wsp" target="_blank"><i
            class="fab fa-whatsapp"></i></a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    
</body>

</html>